[submodule "imgui"]
	path = external/imgui/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "external/SPIRV-Cross"]
	path = external/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross
